#login-page {
    min-height: 100vh;
    background-image: url('/images/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

#login-content {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* controla opacidade corretamente */
    display: flex;
    flex-direction: column;
}

#login-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}